<html>  
<head>  
    <title>Teacher Upload</title>  
</head>  
<body>  
    <h1>Teacher upload website</h1>
    <p>Please upload your files and click upload to run the program. Expect it to take 5-7 seconds to run. Apologies for the lack of formatting we ran into unexpected problems when it came to getting CSV files to be able to use with our original program.</p>
    <br><br>
    <form action = "/success" method = "post" enctype="multipart/form-data">  
        <p>Student File: <input type="file" name="file1" />
        Course File: <input type="file" name="file2" />  
        <input type = "submit" value="Upload">  
        </p>
    </form>  
</body>  
</html>  